<?xml version="1.0" encoding="UTF-8"?>
<config>
	
	<item>
	<name>ComportRange</name>
	<value>20-50</value>
	</item>
	<item>
	<name>KeepAliveInterval</name>
	<value>10</value><!-- KeepAliveInterval in Seconds(0 mean disable) -->
	</item>
	<item>
	<name>BatteryUpdateInterval</name>
	<value>60</value><!-- BatteryUpdateInterval in Seconds(0 mean disable) -->
	<!-- Is curretly the same as Keep Alive  -->
	</item>
	
	<item>
	<name>VLCPath</name>
	<value></value>
	</item>
	<item>
	<name>VideoBroadcastingService</name>
	<value>justin.tv</value><!-- Support justin.tv and VLC with auto broadcasting and livestream and ustream support for embedding -->
	</item>
	
</config>