body {
	background-color: #00CCCC;
}
.style1 {color: #FF0000}
.style2 {color: #00FF00}
.style4 {color: #996600}
.compleet_border {
	border: 2px solid #000000;
}
.border_buttom {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
}
.border_right {
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #000000;
}
.who_is_online {
width:250px;
height:300px;
overflow:auto;
}