<settings>
<IRC>
<enable>false</enable>
<port>6667</port>
<server>localhost</server>
<nickname>Capi</nickname>
<user>Capi 127.0.0.1 localhost :Capi echo</user>
<channel>#control</channel>
<password>Test</password>
</IRC>
<mysql>
<server>localhost</server>
<database>rover</database>
<user>root</user>
<password></password>
</mysql>
<rover>
  <auto>false</auto>
  <light>1</light>
  <sound>2</sound>
  <touch>3</touch>
  <distance>4</distance>
  <port>COM11</port>
</rover>
</settings>